# Volvo Trucks Analytics

### Imports and global variables go here

In [42]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import datetime

#The two truck data set paths are set here.
truck1csv = "../data/trucks/truck1.csv"
truck2csv = "../data/trucks/truck2.csv"

#The two column header dictonary paths are set here.
truck1dictcsv = "../data/dictionary/truck1dict.csv"
truck2dictcsv = "../data/dictionary/truck2dict.csv"

#Number of records desired from the data set.
numberOfRecords = 100

#If the number of values that are NOT Na type pass this percentage, the row will be deleted
rowNaNThresholdPercent = 75

#Create column conversion dictionaries from CSV files.
truck1dict={}
truck2dict={}
with open(truck1dictcsv, 'r') as f:
    for row in csv.reader(f):
        truck1dict.update({row[0]:row[1]})
        
with open(truck2dictcsv, 'r') as f:
    for row in csv.reader(f):
        truck2dict.update({row[0]:row[1]})

### Define all cleaning functions here

In [43]:
def readCsv(truck):
    return pd.read_csv(truck, header = [0])
    
def cullUtcCols(truckData):
    noUTC = truckData.drop(["UTC hour", "UTC minute", "UTC second", "UTC month", "UTC day", "UTC year"], axis = 1)
    return noUTC

"""Takes a DataFrame and a conversion dictionary as parameters;
    uses the dictionary to rename all matching columns then returns the changed DataFrame."""
def renameColumns(dataFrame, dictionary):
    return dataFrame.rename(columns = dictionary)

"""Finds threshold of Non-NA type using percentage and deletes rows."""
def removeUnnecessaryRows(dataFrame):
    length = len(dataFrame.columns)
    TValue = (rowNaNThresholdPercent / 100) * length
    print("Threshold value: " + str(int(TValue)))
    return dataFrame.dropna(thresh = int(TValue))

"""Finds columns with all Na types and deletes them."""
def removeUnnecessaryColumns(dataFrame):
    return dataFrame.dropna(axis=1, how='all')

# NOTE: The following function is unused in this notebook, but it can be used to convert CSV files into
# conversion dictionaries i.e. creating the column rename dictionaries, which was manually done in the
# previous block manually.

"""Creates a Python dictionary from a pre-defined CSV dictionary.
This will only look at the first two columns of the given CSV file."""
def createPythonDictionary(dictionaryCSV):
    # Initialize the resulting dictionary.
    dictResult = {}
    
    # Opens the passed in CSV which defines the rename dictionary and iterates through it to store each value into a Python dictionary.
    with open(dictionaryCSV, 'r') as f:
        for row in csv.reader(f):
            dictResult.update({row[0]:row[1]})
    return dictResult

### Cleaning of Truck 1 Data starts here

In [44]:
truck1data = readCsv(truck1csv)
truck1data = cullUtcCols(truck1data)
truck1data = removeUnnecessaryRows(truck1data)
truck1data = renameColumns(truck1data, truck1dict)
truck1data = removeUnnecessaryColumns(truck1data)

# After cleaning, check the shape of the dataframe
truck1data.shape

MemoryError: Unable to allocate array with shape (50, 1216689) and data type float64

In [ ]:
truck1data.head()

In [ ]:
truck1data

In [ ]:
print(truck1data.describe())

### Cleaning of Truck 2 Data starts here

In [ ]:
truck2data = readCsv(truck2csv)
truck2data = cullUtcCols(truck2data)
truck2data = removeUnnecessaryRows(truck2data)
truck2data = renameColumns(truck2data, truck2dict)
truck2data = removeUnnecessaryColumns(truck2data)

# After cleaning, check the shape of the dataframe
truck2data.shape

In [ ]:
truck2data.head()

In [ ]:
truck2data

In [ ]:
print(truck2data.describe())

In [ ]:
def returnTruck1():
    return truck1data

def returnTruck2():
    return truck2data

### Concatenation of Truck1 and Truck2 Data

In [18]:
df = pd.concat([truck1data, truck2data], sort=False)

In [19]:
df.head()

,Time (DateTime),1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),...,1115 Fridge (A),1115 Trailer (A),1115 Inverter (A),Steering Wheel Angle,Engine Output Torque HiRes (%),Coolant Temperature (C),Pressure of Intake Manifold (kPa),Temperature of Pre-Combustion Air (C),Road Inclination (%),Altitude (m)
16,54:04.6,0.006409,13.946441,97.500381,27.971695,0.277523,1.337072,0.145914,-0.033379,0.843061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,54:04.7,0.007782,13.953765,96.985389,22.375448,0.275616,5.640116,0.134470,-0.004768,0.774395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,54:04.8,0.007782,13.956970,98.330091,18.987945,0.273709,1.287480,0.126841,-0.014305,0.736248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,54:04.9,0.007324,13.953307,94.076638,19.071870,0.277523,6.105516,0.136378,-0.071527,0.774395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,54:05.0,0.007324,13.957885,96.365492,21.677348,0.264172,3.751812,0.128748,-0.071527,0.759136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.describe()

,1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),4649 Battery Voltage (V),...,1115 Fridge (A),1115 Trailer (A),1115 Inverter (A),Steering Wheel Angle,Engine Output Torque HiRes (%),Coolant Temperature (C),Pressure of Intake Manifold (kPa),Temperature of Pre-Combustion Air (C),Road Inclination (%),Altitude (m)
count,7.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,...,29.000000,29.000000,29.000000,29.000000,29.000,29.0,29.000000,29.0,29.000000,29.000000
mean,0.007128,13.961723,97.647103,22.294751,0.277964,4.907976,0.129482,-0.028244,0.796697,12.173953,...,0.570648,-58.218989,-2.244721,-0.281900,1.875,79.0,101.241379,33.0,2.365517,337.844828
std,0.000692,0.009799,3.240392,3.216954,0.013218,1.806796,0.008549,0.026582,0.049097,0.000647,...,0.032676,16.007856,0.034165,0.030425,0.000,0.0,4.222856,0.0,0.076885,0.483725
min,0.005951,13.946441,90.080682,17.767224,0.262264,1.287480,0.115396,-0.071527,0.736248,12.172580,...,0.509270,-62.500000,-2.294575,-0.306617,1.875,79.0,94.000000,33.0,2.200000,337.500000
25%,0.006867,13.956054,96.727893,19.071870,0.271801,4.747463,0.124933,-0.033379,0.759136,12.173495,...,0.548180,-62.500000,-2.271687,-0.304664,1.875,79.0,98.000000,33.0,2.400000,337.500000
50%,0.007324,13.959258,98.206111,22.276265,0.277523,5.640116,0.128748,-0.023842,0.774395,12.173953,...,0.568780,-62.500000,-2.244984,-0.302711,1.875,79.0,102.000000,33.0,2.400000,337.500000
75%,0.007553,13.967498,99.102579,25.068666,0.277523,5.678264,0.134470,-0.004768,0.843061,12.174411,...,0.589380,-62.500000,-2.225910,-0.259742,1.875,79.0,106.000000,33.0,2.400000,338.500000
max,0.007782,13.984894,104.071298,27.971695,0.315671,7.558938,0.145914,0.004768,0.881209,12.174868,...,0.642786,-0.420577,-2.168688,-0.220680,1.875,79.0,106.000000,33.0,2.400000,338.500000

In [21]:
print(df.describe())

       1730 Automatic Start & Stop (V)  1730 Batteries (V)  \
count                         7.000000           13.000000
mean                          0.007128           13.961723
std                           0.000692            0.009799
min                           0.005951           13.946441
25%                           0.006867           13.956054
50%                           0.007324           13.959258
75%                           0.007553           13.967498
max                           0.007782           13.984894

       4649 Alternator (A)  4649 Battery Out (A)  4649 Trailer (A)  \
count            13.000000             13.000000         13.000000
mean             97.647103             22.294751          0.277964
std               3.240392              3.216954          0.013218
min              90.080682             17.767224          0.262264
25%              96.727893             19.071870          0.271801
50%              98.206111             22.276265          0.277523
75%              99.102579             25.068666          0.277523
max             104.071298             27.971695          0.315671

       4649 Inverter (A)  4649 Fridge (A)  4649 Battery Bank (A)  \
count          13.000000        13.000000              13.000000
mean            4.907976         0.129482              -0.028244
std             1.806796         0.008549               0.026582
min             1.287480         0.115396              -0.071527
25%             4.747463         0.124933              -0.033379
50%             5.640116         0.128748              -0.023842
75%             5.678264         0.134470              -0.004768
max             7.558938         0.145914               0.004768

       4649 Battery Separator (A)  4649 Battery Voltage (V)  ...  \
count                   13.000000                 13.000000  ...
mean                     0.796697                 12.173953  ...
std                      0.049097                  0.000647  ...
min                      0.736248                 12.172580  ...
25%                      0.759136                 12.173495  ...
50%                      0.774395                 12.173953  ...
75%                      0.843061                 12.174411  ...
max                      0.881209                 12.174868  ...

       1115 Fridge (A)  1115 Trailer (A)  1115 Inverter (A)  \
count        29.000000         29.000000          29.000000
mean          0.570648        -58.218989          -2.244721
std           0.032676         16.007856           0.034165
min           0.509270        -62.500000          -2.294575
25%           0.548180        -62.500000          -2.271687
50%           0.568780        -62.500000          -2.244984
75%           0.589380        -62.500000          -2.225910
max           0.642786         -0.420577          -2.168688

       Steering Wheel Angle  Engine Output Torque HiRes (%)  \
count             29.000000                          29.000
mean              -0.281900                           1.875
std                0.030425                           0.000
min               -0.306617                           1.875
25%               -0.304664                           1.875
50%               -0.302711                           1.875
75%               -0.259742                           1.875
max               -0.220680                           1.875

       Coolant Temperature (C)  Pressure of Intake Manifold (kPa)  \
count                     29.0                          29.000000
mean                      79.0                         101.241379
std                        0.0                           4.222856
min                       79.0                          94.000000
25%                       79.0                          98.000000
50%                       79.0                         102.000000
75%                       79.0                         106.000000
max                       79.0                         106.000000

       Temperature of Pre-Combustion Air (C)  Road Inclination (%)  \
count                                   29.0             29.000000
mean                                    33.0              2.365517
std                                      0.0              0.076885
min                                     33.0              2.200000
25%                                     33.0              2.400000
50%                                     33.0              2.400000
75%                                     33.0              2.400000
max                                     33.0              2.400000

       Altitude (m)
count     29.000000
mean     337.844828
std        0.483725
min      337.500000
25%      337.500000
50%      337.500000
75%      338.500000
max      338.500000

[8 rows x 47 columns]

### Group Truck1 by Weight

In [22]:
byWeight = truck1data.groupby('Vehicle Weight (kg)')

In [23]:
byWeight.head()

,Time (DateTime),1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),...,RoadInclinationVP15,Steering Wheel Angle (radian),Total Distance (m),Transmission Lube Temperature (C),Vehicle Speed (km/hr),Vehicle Weight (kg),Vehicle Speed (Wheel-Based; km/hr),CPU Load (%),Altitude(m),Speed (km/hr)
16,54:04.6,0.006409,13.946441,97.500381,27.971695,0.277523,1.337072,0.145914,-0.033379,0.843061,...,1.4,-5.660133,246045850,27.84375,8.167969,18000,8.167969,40,0,6.1116
17,54:04.7,0.007782,13.953765,96.985389,22.375448,0.275616,5.640116,0.134470,-0.004768,0.774395,...,1.4,-5.964820,246045850,27.84375,8.167969,18000,8.167969,40,0,6.1116
18,54:04.8,0.007782,13.956970,98.330091,18.987945,0.273709,1.287480,0.126841,-0.014305,0.736248,...,1.2,-6.244117,246045850,27.84375,8.117188,18000,8.167969,40,0,6.1116
19,54:04.9,0.007324,13.953307,94.076638,19.071870,0.277523,6.105516,0.136378,-0.071527,0.774395,...,1.2,-6.509742,246045850,27.84375,8.117188,18000,8.117188,88,0,6.6672
20,54:05.0,0.007324,13.957885,96.365492,21.677348,0.264172,3.751812,0.128748,-0.071527,0.759136,...,1.2,-6.781227,246045850,27.84375,7.820312,18000,7.820312,88,0,6.6672

In [24]:
print(byWeight.describe())

                    1730 Automatic Start & Stop (V)                      \
                                              count      mean       std
Vehicle Weight (kg)
18000                                           7.0  0.007128  0.000692

                                                                       \
                          min       25%       50%       75%       max
Vehicle Weight (kg)
18000                0.005951  0.006867  0.007324  0.007553  0.007782

                    1730 Batteries (V)             ... Altitude(m)       \
                                 count       mean  ...         75%  max
Vehicle Weight (kg)                                ...
18000                             13.0  13.961723  ...         0.0  0.0

                    Speed (km/hr)                                              \
                            count      mean       std     min     25%     50%
Vehicle Weight (kg)
18000                        13.0  6.538984  0.243647  6.1116  6.6672  6.6672


                        75%     max
Vehicle Weight (kg)
18000                6.6672  6.6672

[1 rows x 272 columns]

### Group Truck2 by Weight

In [25]:
byWeight2 = truck2data.groupby('Vehicle Weight (kg)', axis=0)

In [26]:
byWeight2.head()

,Time (DateTime),1115 Alternator (A),1115 Battery Out (A),1115 Fridge (A),1115 Trailer (A),1115 Inverter (A),Total Distance (m),Engine Speed (rpm),Vehicle Speed (Wheel-Based; km/hr),Steering Wheel Angle,...,Temperature of Pre-Combustion Air (C),Transmission Lube Temperature (C),Road Inclination (%),Vehicle Weight (kg),Outside Air Temperature (C),Vehicle Speed (km/hr),Boost Pressure (kPa),CPU Load (%),Altitude (m),Speed (km/hr)
0,49:09.0,-35.452125,4.949645,0.555047,-0.430114,-2.283131,NaN,1096.375,106.886719,-0.304664,...,33,85.0,2.4,18000,16.9375,106.886719,196,75,337.5,29.323334
1,49:09.1,-35.480735,5.270085,0.626764,-0.420577,-2.294575,NaN,1098.875,107.101562,-0.304664,...,33,85.0,2.4,18000,16.9375,107.101562,198,75,337.5,29.323334
2,49:09.2,-35.480735,5.197604,0.568780,-62.500000,-2.271687,NaN,1096.750,107.089844,-0.304664,...,33,85.0,2.4,18000,16.9375,107.089844,198,75,337.5,29.323334
3,49:09.3,-35.452125,5.418860,0.638209,-62.500000,-2.290761,411617045.0,1098.375,106.921875,-0.304664,...,33,85.0,2.4,18000,16.9375,106.921875,200,75,337.5,29.323334
4,49:09.4,-35.471199,5.228122,0.590143,-62.500000,-2.283131,411617045.0,1101.750,107.109375,-0.304664,...,33,85.0,2.4,18000,16.9375,107.109375,200,75,337.5,29.323334

In [27]:
print(byWeight2.describe())

                    1115 Alternator (A)                                  \
                                  count       mean       std        min
Vehicle Weight (kg)
18000                              29.0 -35.466923  0.013864 -35.490272

                                                                 \
                           25%        50%        75%        max
Vehicle Weight (kg)
18000               -35.480735 -35.471199 -35.452125 -35.442588

                    1115 Battery Out (A)            ... Altitude (m)         \
                                   count      mean  ...          75%    max
Vehicle Weight (kg)                                 ...
18000                               29.0  5.459902  ...        338.5  338.5

                    Speed (km/hr)                                           \
                            count      mean      std        min        25%
Vehicle Weight (kg)
18000                        29.0  29.46525  0.19908  29.323334  29.323334


                           50%        75%        max
Vehicle Weight (kg)
18000                29.323334  29.734889  29.734889

[1 rows x 232 columns]

In [28]:
byWeight2 = truck2data.groupby('Vehicle Weight (kg)')

for key, item in byWeight2:
    print(byWeight2.get_group(key), "\n\n")

   Time (DateTime)  1115 Alternator (A)  1115 Battery Out (A)  \
0          49:09.0           -35.452125              4.949645
1          49:09.1           -35.480735              5.270085
2          49:09.2           -35.480735              5.197604
3          49:09.3           -35.452125              5.418860
4          49:09.4           -35.471199              5.228122
5          49:09.5           -35.452125              5.544747
6          49:09.6           -35.442588              5.285344
7          49:09.7           -35.461662              5.151827
8          49:09.8           -35.471199              5.010681
9          49:09.9           -35.461662              5.350195
10         49:10.0           -35.442588              4.873350
11         49:10.1           -35.480735              4.991608
12         49:10.2           -35.461662              5.457008
13         49:10.3           -35.452125              5.479896
14         49:10.4           -35.471199              5.167086
15         49:10.5           -35.471199              5.086976
16         49:10.6           -35.490272              5.338750
17         49:10.7           -35.490272              5.247196
18         49:10.8           -35.461662              5.136568
19         49:10.9           -35.471199              5.243381
20         49:11.0           -35.461662              5.449378
21         49:11.1           -35.452125              5.067903
22         49:11.2           -35.471199              6.273365
23         49:11.3           -35.480735              5.510414
24         49:11.4           -35.452125              5.838483
25         49:11.5           -35.490272              6.548028
26         49:11.6           -35.471199              5.891890
27         49:11.7           -35.461662              7.524605
28         49:11.8           -35.480735              5.804150

    1115 Fridge (A)  1115 Trailer (A)  1115 Inverter (A)  Total Distance (m)  \
0          0.555047         -0.430114          -2.283131                 NaN
1          0.626764         -0.420577          -2.294575                 NaN
2          0.568780        -62.500000          -2.271687                 NaN
3          0.638209        -62.500000          -2.290761         411617045.0
4          0.590143        -62.500000          -2.283131         411617045.0
5          0.529870        -62.500000          -2.283131         411617045.0
6          0.580987        -62.500000          -2.256428         411617045.0
7          0.558862        -62.500000          -2.264057         411617045.0
8          0.548180        -62.500000          -2.241169         411617045.0
9          0.574121        -62.500000          -2.248798         411617045.0
10         0.542077        -62.500000          -2.260243         411617045.0
11         0.572595        -62.500000          -2.279316         411617045.0
12         0.509270        -62.500000          -2.260243         411617045.0
13         0.556573        -62.500000          -2.218280         411617075.0
14         0.572595        -62.500000          -2.225910         411617075.0
15         0.549706        -62.500000          -2.275502         411617075.0
16         0.642786        -62.500000          -2.244984         411617075.0
17         0.532158        -62.500000          -2.267872         411617075.0
18         0.575647        -62.500000          -2.225910         411617075.0
19         0.589380        -62.500000          -2.237354         411617075.0
20         0.543603        -62.500000          -2.195392         411617075.0
21         0.609216        -62.500000          -2.218280         411617075.0
22         0.571832        -62.500000          -2.237354         411617075.0
23         0.533684        -62.500000          -2.168688         411617100.0
24         0.605402        -62.500000          -2.195392         411617100.0
25         0.564202        -62.500000          -2.237354         411617100.0
26         0.605402        -62.500000          -2.222095         411617100.0
27         0.553521        -62.500000          -2.168688         411617100.0
28         0.548180        -62.500000          -2.241169         411617100.0

    Engine Speed (rpm)  Vehicle Speed (Wheel-Based; km/hr)  \
0             1096.375                          106.886719
1             1098.875                          107.101562
2             1096.750                          107.089844
3             1098.375                          106.921875
4             1101.750                          107.109375
5             1096.875                          107.238281
6             1102.750                          107.300781
7             1103.000                          107.171875
8             1102.125                          107.316406
9             1105.125                          107.316406
10            1103.625                          107.503906
11            1104.000                          107.507812
12            1105.125                          107.414062
13            1099.000                          107.414062
14            1107.375                          107.371094
15            1102.000                          107.457031
16            1103.375                          107.457031
17            1103.875                          107.578125
18            1101.500                          107.578125
19            1105.125                          107.593750
20            1104.125                          107.593750
21            1106.000                          107.562500
22            1105.125                          107.625000
23            1106.750                          107.792969
24            1106.500                          107.792969
25            1105.375                          107.796875
26            1103.500                          107.566406
27            1104.625                          107.566406
28            1100.375                          107.710938

    Steering Wheel Angle  ...  Temperature of Pre-Combustion Air (C)  \
0              -0.304664  ...                                     33
1              -0.304664  ...                                     33
2              -0.304664  ...                                     33
3              -0.304664  ...                                     33
4              -0.304664  ...                                     33
5              -0.304664  ...                                     33
6              -0.296852  ...                                     33
7              -0.269508  ...                                     33
8              -0.244117  ...                                     33
9              -0.232398  ...                                     33
10             -0.222633  ...                                     33
11             -0.220680  ...                                     33
12             -0.226539  ...                                     33
13             -0.246070  ...                                     33
14             -0.259742  ...                                     33
15             -0.259742  ...                                     33
16             -0.259742  ...                                     33
17             -0.269508  ...                                     33
18             -0.292945  ...                                     33
19             -0.304664  ...                                     33
20             -0.306617  ...                                     33
21             -0.306617  ...                                     33
22             -0.304664  ...                                     33
23             -0.304664  ...                                     33
24             -0.304664  ...                                     33
25             -0.304664  ...                                     33
26             -0.304664  ...                                     33
27             -0.302711  ...                                     33
28             -0.302711  ...                                     33

    Transmission Lube Temperature (C)  Road Inclination (%)  \
0                             85.0000                   2.4
1                             85.0000                   2.4
2                             85.0000                   2.4
3                             85.0000                   2.4
4                             85.0000                   2.4
5                             85.0000                   2.4
6                             85.0000                   2.4
7                             85.0000                   2.4
8                             85.0000                   2.4
9                             85.0625                   2.4
10                            85.0625                   2.4
11                            85.0625                   2.2
12                            85.0625                   2.2
13                            85.0625                   2.2
14                            85.0625                   2.2
15                            85.0625                   2.4
16                            85.0625                   2.4
17                            85.0625                   2.4
18                            85.0625                   2.4
19                            85.0000                   2.4
20                            85.0000                   2.4
21                            85.0000                   2.4
22                            85.0000                   2.4
23                            85.0000                   2.4
24                            85.0000                   2.4
25                            85.0000                   2.4
26                            85.0000                   2.4
27                            85.0000                   2.4
28                            85.0000                   2.2

    Vehicle Weight (kg)  Outside Air Temperature (C)  Vehicle Speed (km/hr)  \
0                 18000                      16.9375             106.886719
1                 18000                      16.9375             107.101562
2                 18000                      16.9375             107.089844
3                 18000                      16.9375             106.921875
4                 18000                      16.9375             107.109375
5                 18000                      16.9375             107.238281
6                 18000                      16.9375             107.300781
7                 18000                      16.9375             107.171875
8                 18000                      16.9375             107.316406
9                 18000                      16.9375             107.316406
10                18000                      16.9375             107.503906
11                18000                      16.9375             107.507812
12                18000                      16.9375             107.414062
13                18000                      16.9375             107.414062
14                18000                      16.9375             107.371094
15                18000                      16.9375             107.457031
16                18000                      16.9375             107.457031
17                18000                      16.9375             107.578125
18                18000                      16.9375             107.578125
19                18000                      16.9375             107.593750
20                18000                      16.9375             107.593750
21                18000                      16.9375             107.562500
22                18000                      16.9375             107.625000
23                18000                      16.9375             107.792969
24                18000                      16.9375             107.792969
25                18000                      16.9375             107.796875
26                18000                      16.9375             107.566406
27                18000                      16.9375             107.566406
28                18000                      16.9375             107.710938

    Boost Pressure (kPa)  CPU Load (%)  Altitude (m)  Speed (km/hr)
0                    196            75         337.5      29.323334
1                    198            75         337.5      29.323334
2                    198            75         337.5      29.323334
3                    200            75         337.5      29.323334
4                    200            75         337.5      29.323334
5                    200            75         337.5      29.323334
6                    202            75         337.5      29.323334
7                    202            75         337.5      29.323334
8                    202            75         337.5      29.323334
9                    202            75         337.5      29.323334
10                   204            75         337.5      29.323334
11                   204            75         337.5      29.323334
12                   204            75         337.5      29.323334
13                   204            75         337.5      29.323334
14                   204            75         337.5      29.323334
15                   202            75         337.5      29.323334
16                   202            75         337.5      29.323334
17                   202            75         337.5      29.323334
18                   200            75         337.5      29.323334
19                   200            93         338.5      29.734889
20                   198            93         338.5      29.734889
21                   196            93         338.5      29.734889
22                   196            93         338.5      29.734889
23                   194            93         338.5      29.734889
24                   194            93         338.5      29.734889
25                   192            93         338.5      29.734889
26                   190            93         338.5      29.734889
27                   188            93         338.5      29.734889
28                   186            93         338.5      29.734889

[29 rows x 31 columns]

In [29]:
df = truck1data

This sums all the data around the grouping by 'Vehicle Weight'

In [30]:
df.groupby(['Vehicle Weight (kg)'], as_index=False).sum()

,Vehicle Weight (kg),1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),...,Temperature of Air Intake Manifold (C),RoadInclinationVP15,Steering Wheel Angle (radian),Total Distance (m),Transmission Lube Temperature (C),Vehicle Speed (km/hr),Vehicle Speed (Wheel-Based; km/hr),CPU Load (%),Altitude(m),Speed (km/hr)
0,18000,0.049897,181.502403,1269.412337,289.831769,3.613527,63.803693,1.683261,-0.36717,10.357061,...,351,14.6,-94.39032,3198596050,361.96875,102.261719,102.433594,1000,0,85.006796

In [31]:
df2 = truck2data

This groups by the 'Vehicle Weight' then uses the mean as the new values in the rest of the columns

In [32]:
df2.groupby(['Vehicle Weight (kg)'], as_index=False).mean()

,Vehicle Weight (kg),1115 Alternator (A),1115 Battery Out (A),1115 Fridge (A),1115 Trailer (A),1115 Inverter (A),Total Distance (m),Engine Speed (rpm),Vehicle Speed (Wheel-Based; km/hr),Steering Wheel Angle,...,Pressure of Intake Manifold (kPa),Temperature of Pre-Combustion Air (C),Transmission Lube Temperature (C),Road Inclination (%),Outside Air Temperature (C),Vehicle Speed (km/hr),Boost Pressure (kPa),CPU Load (%),Altitude (m),Speed (km/hr)
0,18000,-35.466923,5.459902,0.570648,-58.218989,-2.244721,4.116171e+08,1102.737069,107.425377,-0.2819,...,101.241379,33.0,85.021552,2.365517,16.9375,107.425377,198.62069,81.206897,337.844828,29.46525

In [33]:
df.groupby(['Vehicle Weight (kg)'], as_index=False).mean()

,Vehicle Weight (kg),1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),...,Temperature of Air Intake Manifold (C),RoadInclinationVP15,Steering Wheel Angle (radian),Total Distance (m),Transmission Lube Temperature (C),Vehicle Speed (km/hr),Vehicle Speed (Wheel-Based; km/hr),CPU Load (%),Altitude(m),Speed (km/hr)
0,18000,0.007128,13.961723,97.647103,22.294751,0.277964,4.907976,0.129482,-0.028244,0.796697,...,27.0,1.123077,-7.260794,246045850.0,27.84375,7.866286,7.879507,76.923077,0.0,6.538984

In [34]:
dftest = truck1data

In [35]:
dftest.groupby(['Vehicle Weight (kg)'], as_index=False).mean()

,Vehicle Weight (kg),1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),...,Temperature of Air Intake Manifold (C),RoadInclinationVP15,Steering Wheel Angle (radian),Total Distance (m),Transmission Lube Temperature (C),Vehicle Speed (km/hr),Vehicle Speed (Wheel-Based; km/hr),CPU Load (%),Altitude(m),Speed (km/hr)
0,18000,0.007128,13.961723,97.647103,22.294751,0.277964,4.907976,0.129482,-0.028244,0.796697,...,27.0,1.123077,-7.260794,246045850.0,27.84375,7.866286,7.879507,76.923077,0.0,6.538984

In [37]:
truckonetype =  pd.to_datetime(truck1data['Time (DateTime)'])

truckonetype.head(100)

ValueError: hour must be in 0..23

In [38]:
truckTwotype =  pd.to_datetime(truck2data['Time (DateTime)'])

truckTwotype.head(100)

ValueError: hour must be in 0..23

For the function `divideByDay()` make sure to pass in a DataFrame of a truck.
If you want specific column of data then just specify it by using quotation and the accurate name of the column.
Example:
This line will get daily averages for all columns:
`print(divideByDay(truck1data)`
This line will get daily average of speed:
`print(divideByDay(truck1data, "Speed (km/hr)"))`

In [39]:
def divideByDay(truck_df, byday_df=None):
    dates = []
    #truck_df = truck_df.head()
    for index, tdata in truck_df.iterrows():
        dates.append(tdata['Time (DateTime)'].split(' ')[0])
        #print(index, dates)
        
    truck_df['Time (DateTime)'] = dates
    
    if(byday_df):
        byday_df = truck_df.groupby('Time (DateTime)')[byday_df].mean()
    else:
        byday_df = truck_df.groupby('Time (DateTime)').mean()

    return byday_df

Truck 2 daily Average speed

In [40]:
print(divideByDay(truck2data, "Speed (km/hr)"))

Time (DateTime)
49:09.0    29.323334
49:09.1    29.323334
49:09.2    29.323334
49:09.3    29.323334
49:09.4    29.323334
49:09.5    29.323334
49:09.6    29.323334
49:09.7    29.323334
49:09.8    29.323334
49:09.9    29.323334
49:10.0    29.323334
49:10.1    29.323334
49:10.2    29.323334
49:10.3    29.323334
49:10.4    29.323334
49:10.5    29.323334
49:10.6    29.323334
49:10.7    29.323334
49:10.8    29.323334
49:10.9    29.734889
49:11.0    29.734889
49:11.1    29.734889
49:11.2    29.734889
49:11.3    29.734889
49:11.4    29.734889
49:11.5    29.734889
49:11.6    29.734889
49:11.7    29.734889
49:11.8    29.734889
Name: Speed (km/hr), dtype: float64

Truck 1 daily Average speed

In [41]:
print(divideByDay(truck1data, "Speed (km/hr)"))

Time (DateTime)
54:04.6    6.1116
54:04.7    6.1116
54:04.8    6.1116
54:04.9    6.6672
54:05.0    6.6672
54:05.1    6.6672
54:05.2    6.6672
54:05.3    6.6672
54:05.4    6.6672
54:05.5    6.6672
54:05.6    6.6672
54:05.7    6.6672
54:05.8    6.6672
Name: Speed (km/hr), dtype: float64