# Volvo Trucks Analytics

### Imports and global variables go here

In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import datetime
import numpy
import math

#The two truck data set paths are set here.
truck1csv = "../data/trucks/truck1.csv"
truck2csv = "../data/trucks/truck2.csv"

#The two column header dictonary paths are set here.
truck1dictcsv = "../data/dictionary/truck1dict.csv"
truck2dictcsv = "../data/dictionary/truck2dict.csv"

#Number of records desired from the data set.
numberOfRecords = 100

#If the number of values that are NOT Na type pass this percentage, the row will be deleted
rowNaNThresholdPercent = 75

#Create column conversion dictionaries from CSV files.
truck1dict={}
truck2dict={}
with open(truck1dictcsv, 'r') as f:
    for row in csv.reader(f):
        truck1dict.update({row[0]:row[1]})
        
with open(truck2dictcsv, 'r') as f:
    for row in csv.reader(f):
        truck2dict.update({row[0]:row[1]})

### Define all cleaning functions here

In [2]:
def readCsv(truck):
    return pd.read_csv(truck, header = [0])
    
def cullUtcCols(truckData):
    noUTC = truckData.drop(["UTC hour", "UTC minute", "UTC second", "UTC month", "UTC day", "UTC year"], axis = 1)
    return noUTC

"""Takes a DataFrame and a conversion dictionary as parameters;
    uses the dictionary to rename all matching columns then returns the changed DataFrame."""
def renameColumns(dataFrame, dictionary):
    return dataFrame.rename(columns = dictionary)

"""Finds threshold of Non-NA type using percentage and deletes rows."""
def removeUnnecessaryRows(dataFrame):
    length = len(dataFrame.columns)
    TValue = (rowNaNThresholdPercent / 100) * length
    print("Threshold value: " + str(int(TValue)))
    return dataFrame.dropna(thresh = int(TValue))

"""Finds columns with all Na types and deletes them."""
def removeUnnecessaryColumns(dataFrame):
    return dataFrame.dropna(axis=1, how='all')

# NOTE: The following function is unused in this notebook, but it can be used to convert CSV files into
# conversion dictionaries i.e. creating the column rename dictionaries, which was manually done in the
# previous block manually.

"""Creates a Python dictionary from a pre-defined CSV dictionary.
This will only look at the first two columns of the given CSV file."""
def createPythonDictionary(dictionaryCSV):
    # Initialize the resulting dictionary.
    dictResult = {}
    
    # Opens the passed in CSV which defines the rename dictionary and iterates through it to store each value into a Python dictionary.
    with open(dictionaryCSV, 'r') as f:
        for row in csv.reader(f):
            dictResult.update({row[0]:row[1]})
    return dictResult

### Cleaning of Truck 1 Data starts here

In [3]:
truck1data = readCsv(truck1csv)
truck1data = cullUtcCols(truck1data)
truck1data = removeUnnecessaryRows(truck1data)
truck1data = renameColumns(truck1data, truck1dict)
truck1data = removeUnnecessaryColumns(truck1data)

# After cleaning, check the shape of the dataframe
truck1data.shape

Threshold value: 33

(1216197, 41)

In [4]:
truck1data.head()

,Time (DateTime),1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),...,Steering Wheel Angle (radian),Total Distance (m),Transmission Lube Temperature (C),Turbo Speed (rpm),Vehicle Speed (km/hr),Vehicle Weight (kg),Vehicle Speed (Wheel-Based; km/hr),CPU Load (%),Altitude(m),Speed (km/hr)
16,08/07/2019 07:54:04.559,0.006409,13.946441,97.500381,27.971695,0.277523,1.337072,0.145914,-0.033379,0.843061,...,-5.660133,246045850.0,27.84375,NaN,8.167969,18000.0,8.167969,40.0,0.0,6.1116
17,08/07/2019 07:54:04.659,0.007782,13.953765,96.985389,22.375448,0.275616,5.640116,0.134470,-0.004768,0.774395,...,-5.964820,246045850.0,27.84375,NaN,8.167969,18000.0,8.167969,40.0,0.0,6.1116
18,08/07/2019 07:54:04.759,0.007782,13.956970,98.330091,18.987945,0.273709,1.287480,0.126841,-0.014305,0.736248,...,-6.244117,246045850.0,27.84375,NaN,8.117188,18000.0,8.167969,40.0,0.0,6.1116
19,08/07/2019 07:54:04.859,0.007324,13.953307,94.076638,19.071870,0.277523,6.105516,0.136378,-0.071527,0.774395,...,-6.509742,246045850.0,27.84375,NaN,8.117188,18000.0,8.117188,88.0,0.0,6.6672
20,08/07/2019 07:54:04.959,0.007324,13.957885,96.365492,21.677348,0.264172,3.751812,0.128748,-0.071527,0.759136,...,-6.781227,246045850.0,27.84375,NaN,7.820312,18000.0,7.820312,88.0,0.0,6.6672

In [5]:
truck1data

,Time (DateTime),1730 Automatic Start & Stop (V),1730 Batteries (V),4649 Alternator (A),4649 Battery Out (A),4649 Trailer (A),4649 Inverter (A),4649 Fridge (A),4649 Battery Bank (A),4649 Battery Separator (A),...,Steering Wheel Angle (radian),Total Distance (m),Transmission Lube Temperature (C),Turbo Speed (rpm),Vehicle Speed (km/hr),Vehicle Weight (kg),Vehicle Speed (Wheel-Based; km/hr),CPU Load (%),Altitude(m),Speed (km/hr)
16,08/07/2019 07:54:04.559,0.006409,13.946441,97.500381,27.971695,0.277523,1.337072,0.145914,-0.033379,0.843061,...,-5.660133,246045850.0,27.84375,NaN,8.167969,18000.0,8.167969,40.0,0.0,6.111600
17,08/07/2019 07:54:04.659,0.007782,13.953765,96.985389,22.375448,0.275616,5.640116,0.134470,-0.004768,0.774395,...,-5.964820,246045850.0,27.84375,NaN,8.167969,18000.0,8.167969,40.0,0.0,6.111600
18,08/07/2019 07:54:04.759,0.007782,13.956970,98.330091,18.987945,0.273709,1.287480,0.126841,-0.014305,0.736248,...,-6.244117,246045850.0,27.84375,NaN,8.117188,18000.0,8.167969,40.0,0.0,6.111600
19,08/07/2019 07:54:04.859,0.007324,13.953307,94.076638,19.071870,0.277523,6.105516,0.136378,-0.071527,0.774395,...,-6.509742,246045850.0,27.84375,NaN,8.117188,18000.0,8.117188,88.0,0.0,6.667200
20,08/07/2019 07:54:04.959,0.007324,13.957885,96.365492,21.677348,0.264172,3.751812,0.128748,-0.071527,0.759136,...,-6.781227,246045850.0,27.84375,NaN,7.820312,18000.0,7.820312,88.0,0.0,6.667200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216684,08/05/2019 15:12:53.121,0.007782,14.073243,21.138514,17.889296,0.159266,4.392691,0.048638,-0.138285,0.110628,...,-0.134742,245172325.0,78.37500,NaN,92.851562,16000.0,92.996094,31.0,265.5,92.970398
1216685,08/05/2019 15:12:53.221,0.009613,14.073243,21.844244,19.045167,0.151637,4.339284,0.044823,-0.128748,0.194553,...,-0.134742,245172325.0,78.37500,NaN,92.847656,16000.0,92.863281,31.0,265.5,92.970398
1216686,08/05/2019 15:12:53.321,0.009613,14.072328,24.543183,22.867552,0.144007,4.407950,0.044823,-0.071527,0.331884,...,-0.132789,245172325.0,78.34375,NaN,92.832031,16000.0,92.832031,31.0,265.5,92.970398
1216687,08/05/2019 15:12:53.421,0.008698,14.072328,23.141260,17.862593,0.163081,4.510948,0.033379,-0.081064,0.041962,...,-0.099586,245172325.0,78.34375,NaN,92.917969,16000.0,92.871094,31.0,265.5,92.970398
1216688,08/05/2019 15:12:53.521,0.009155,14.068666,20.881018,19.151980,0.147822,4.438468,0.037194,-0.100137,0.278477,...,-0.085914,245172325.0,78.34375,NaN,92.917969,16000.0,92.871094,31.0,265.5,92.970398

In [6]:
print(truck1data.describe())

       1730 Automatic Start & Stop (V)  1730 Batteries (V)  \
count                    892537.000000        1.216197e+06
mean                          0.008484        1.402766e+01
std                           0.002597        5.379075e-02
min                           0.000458        1.248569e+01
25%                           0.007782        1.400092e+01
50%                           0.009155        1.404395e+01
75%                           0.010071        1.406134e+01
max                           0.255894        1.415427e+01

       4649 Alternator (A)  4649 Battery Out (A)  4649 Trailer (A)  \
count         1.216197e+06          1.216197e+06      1.216197e+06
mean          4.143630e+01          2.106691e+01      4.329782e-01
std           3.111164e+01          4.769233e+00      4.261612e-01
min           2.274548e+00          6.994354e+00     -7.343404e-02
25%           2.269303e+01          1.806859e+01      1.630808e-01
50%           2.715629e+01          2.039178e+01      1.840620e-01
75%           4.763199e+01          2.308881e+01      6.876097e-01
max           2.336585e+02          7.557603e+01      3.821431e+00

       4649 Inverter (A)  4649 Fridge (A)  4649 Battery Bank (A)  \
count       1.216197e+06     1.216197e+06           1.216197e+06
mean        1.336951e+01    -2.104773e-02          -7.023623e-02
std         1.643317e+01     5.838831e-02           4.943761e-02
min        -1.040265e+02    -4.396506e-01          -2.431907e-01
25%         1.276608e+01    -7.152667e-02          -1.096742e-01
50%         1.591325e+01    -1.812009e-02          -8.106355e-02
75%         1.875525e+01     2.765698e-02          -4.291600e-02
max         1.250000e+02     4.911498e-01           2.050431e-01

       4649 Battery Separator (A)  4649 Battery Voltage (V)  ...  \
count                1.216197e+06              1.216197e+06  ...
mean                 9.704267e-02              1.386995e+01  ...
std                  5.352165e+00              2.840073e-01  ...
min                 -3.952468e+01              1.214054e+01  ...
25%                 -4.234379e-01              1.380865e+01  ...
50%                 -4.196231e-02              1.401144e+01  ...
75%                  1.792935e-01              1.404532e+01  ...
max                  2.500000e+02              1.413001e+01  ...

       Steering Wheel Angle (radian)  Total Distance (m)  \
count                   1.215439e+06        1.216197e+06
mean                    2.144894e-02        2.461109e+08
std                     1.209821e+00        7.387041e+05
min                    -1.345505e+01        2.448015e+08
25%                    -4.880469e-02        2.454952e+08
50%                     3.713281e-02        2.460987e+08
75%                     8.986719e-02        2.467624e+08
max                     1.310549e+01        2.473315e+08

       Transmission Lube Temperature (C)  Turbo Speed (rpm)  \
count                       1.216197e+06       1.136499e+06
mean                        7.388472e+01       5.487667e+04
std                         1.028927e+01       2.120966e+04
min                         2.171875e+01       0.000000e+00
25%                         7.568750e+01       3.934814e+04
50%                         7.737500e+01       5.890636e+04
75%                         7.818750e+01       6.928689e+04
max                         8.025000e+01       1.102469e+05

       Vehicle Speed (km/hr)  Vehicle Weight (kg)  \
count           1.216197e+06         1.216197e+06
mean            7.485815e+01         1.935998e+04
std             3.193069e+01         4.181297e+03
min             0.000000e+00         8.000000e+03
25%             6.742969e+01         1.600000e+04
50%             9.293750e+01         1.700000e+04
75%             9.312891e+01         2.400000e+04
max             1.213672e+02         3.000000e+04

       Vehicle Speed (Wheel-Based; km/hr)  CPU Load (%)   Altitude(m)  \
count                        1.216197e+06  1.216197e+06  1.216197e+06
mean                         7.485812e+01  4.792415e+01  2.333459e+02
std                          3.193061e+01  7.250188e+00  4.160409e+01
min                          0.000000e+00  2.700000e+01  0.000000e+00
25%                          6.742969e+01  4.200000e+01  1.982000e+02
50%                          9.293750e+01  4.700000e+01  2.344000e+02
75%                          9.312891e+01  5.400000e+01  2.636000e+02
max                          1.213672e+02  9.900000e+01  3.572000e+02

       Speed (km/hr)
count   1.214952e+06
mean    7.464766e+01
std     3.184049e+01
min     0.000000e+00
25%     6.722760e+01
50%     9.260000e+01
75%     9.297040e+01
max     1.220468e+02

[8 rows x 40 columns]

### Cleaning of Truck 2 Data starts here

In [4]:
truck2data = readCsv(truck2csv)
truck2data = cullUtcCols(truck2data)
truck2data = removeUnnecessaryRows(truck2data)
truck2data = renameColumns(truck2data, truck2dict)
truck2data = removeUnnecessaryColumns(truck2data)

# After cleaning, check the shape of the dataframe
truck2data.shape

Threshold value: 30

(1686292, 37)

In [ ]:
truck2data.head()

In [ ]:
truck2data

In [ ]:
print(truck2data.describe())

### Concatenation of Truck1 and Truck2 Data

In [ ]:
df = pd.concat([truck1data, truck2data], sort=False)

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
print(df.describe())

### Group Truck1 by Weight

In [ ]:
byWeight = truck1data.groupby('Vehicle Weight (kg)')

In [ ]:
byWeight.head()

In [ ]:
print(byWeight.describe())

### Group Truck2 by Weight

In [ ]:
byWeight2 = truck2data.groupby('Vehicle Weight (kg)', axis=0)

In [ ]:
byWeight2.head()

In [ ]:
print(byWeight2.describe())

In [ ]:
byWeight2 = truck2data.groupby('Vehicle Weight (kg)')

for key, item in byWeight2:
    print(byWeight2.get_group(key), "\n\n")

In [ ]:
df = truck1data

This sums all the data around the grouping by 'Vehicle Weight'

In [ ]:
df.groupby(['Vehicle Weight (kg)'], as_index=False).sum()

In [ ]:
df2 = truck2data

This groups by the 'Vehicle Weight' then uses the mean as the new values in the rest of the columns

In [ ]:
df2.groupby(['Vehicle Weight (kg)'], as_index=False).mean()

In [ ]:
df.groupby(['Vehicle Weight (kg)'], as_index=False).mean()

In [ ]:
dftest = truck1data

In [ ]:
dftest.groupby(['Vehicle Weight (kg)'], as_index=False).mean()

In [ ]:
truckonetype =  pd.to_datetime(truck1data['Time (DateTime)'])

truckonetype.head(100)

In [ ]:
truckTwotype =  pd.to_datetime(truck2data['Time (DateTime)'])

truckTwotype.head(100)

For the function `divideByDay()` make sure to pass in a DataFrame of a truck.
If you want specific column of data then just specify it by using quotation and the accurate name of the column.
Example:
This line will get daily averages for all columns:
`print(divideByDay(truck1data)`
This line will get daily average of speed:
`print(divideByDay(truck1data, "Speed (km/hr)"))`

In [ ]:
def divideByDay(truck_df, byday_df=None):
    dates = []
    #truck_df = truck_df.head()
    for index, tdata in truck_df.iterrows():
        dates.append(tdata['Time (DateTime)'].split(' ')[0])
        #print(index, dates)
        
    truck_df['Time (DateTime)'] = dates
    
    if(byday_df):
        byday_df = truck_df.groupby('Time (DateTime)')[byday_df].median()
    else:
        byday_df = truck_df.groupby('Time (DateTime)').median()

    return byday_df

Truck 2 daily Average speed

In [ ]:
print(divideByDay(truck2data, "Speed (km/hr)"))

Truck 1 daily Average speed

In [ ]:
print(divideByDay(truck1data, "Speed (km/hr)"))

In [14]:
def outlierDetection(truck_df):
    l = []
    h = []
    iterateData = 0
    fiveNum = [truck_df['Speed (km/hr)'].quantile(0), truck_df['Speed (km/hr)'].quantile(.25), truck_df['Speed (km/hr)'].quantile(.5), truck_df['Speed (km/hr)'].quantile(.75), truck_df['Speed (km/hr)'].quantile(1)]
    iqr = fiveNum[3] - fiveNum[1]
    low_outl = fiveNum[1] - (1.5 * iqr)
    high_outl = fiveNum + (1.5 * iqr)
    #truck_df = truck_df[numpy.abs(truck_df['Speed (km/hr)'] - truck_df['Speed (km/hr)'].mean()) <= (2 * truck_df['Speed (km/hr)'].std())]
    for index, tdata in truck_df.iterrows():
        if math.isnan(tdata['Speed (km/hr)']):
            continue
    #    l = numpy.any(int(tdata['Speed (km/hr)']) > high_outl)
        iterateData = float(tdata['Speed (km/hr)'])
        if(numpy.any(iterateData > high_outl) or (iterateData < low_outl)):
            l.append(index)

         #(iterateData)
    #selected  = truck_df[numpy.logical_and(truck_df['Speed (km/hr)'] > high_outl, truck_df['Speed (km/hr)'] < low_outl)]
        #if (iterateData > high_outl):
        #    h.append(index)
        #if (iterateData < low_outl):
        #    l.append(index)
    return l
#outlierDetection(truck1data)

In [15]:
outlierDetection(truck1data)
#divideByDay(outlierDetection(truck1data), "Speed (km/hr)")

[16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 ...]

In [ ]:
#divideByDay(outlierDetection(truck2data), "Speed (km/hr)")